/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgba(66, 2, 10, 0.673);
}

.hidden {
     display: none;
}
body{
     margin: 0 30px;
     text-align: center;
}
/* div#list{
     font-size: 1.3em;
     line-height: 2em;
} */
.hidden {
     display: none;
}
#instructions{
     width: 70%;
     margin-left: 15%;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
