/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgba(12, 41, 77, 0.811);
     font-family: 'Roboto Slab', serif;
}
ol {
     width: 45%;    
     margin: auto;
}
li {
     margin: auto;
     width: 45%;
     text-align: center;
     line-height: 1.5rem;
}
.hidden {
     display: none;
}
body{
     margin: 0 30px;
     text-align: center;
}
/* div#list{
     font-size: 1.3em;
     line-height: 2em;
} */
.hidden {
     display: none;
}
#instructions{
     width: 70%;
     margin-left: 15%;
     font-size: 18px;
     line-height: 1.5em
}
#mealName {
     font-size: 3em;
     margin: 20px 0;
}
.ing-list{
     font-size: 18px;
     line-height: 1.3em;
}
.subHeader{
     font-size: 36px;
}
.cat-list{
     font-size: 18px;
     line-height: 2em;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
